<footer>
    <div class="container">
        <p>&copy; 2024 ChatPlus. All rights reserved.</p>
        <%= link_to "About", about_path %>
        <%= link_to "Contact", contact_path %>
    </div>
</footer>